# Ignore Windows executables
*.exe

# Ignore Python bytecode
__pycache__
*.pyc
*.pyo

# Ignore virtual environment
venv
.env

# Ignore temporary files
*.tmp
*.log
*.swp
*.swo

# Ignore build files
.build

